.advantages {
  padding-bottom: 49px;

  @media (min-width: @tablet-width) {
    padding: 0;
    border-bottom: 1px solid @color-border-menu;
  }

  @media (min-width: @desktop-width) {
    border: none;
  }
}

.advantages__wrapper {
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 230px 250px;
    gap: 35px 153px;
    padding-bottom: 43px;
    counter-reset: myCounter;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 0;
    padding-bottom: 15px;
    border: none;
  }
}

.advantages__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  list-style: none;
  position: relative;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0;

    &::after {
      counter-increment: myCounter;
      content: counter(myCounter);
      position: absolute;
      top: 130px;
      left: 114px;
      color: @color-content-background;
      text-align: center;
      .text(280px; 20px);
      z-index: -1;
    }
  }
}

.advantages__item::before {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-color: @color-button;
  content: "";

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
    margin-right: 0;
    margin-bottom: 31px;
  }
}

.advantages__item--time {
  margin-bottom: 0;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 20px;
  .text(36px; 40px);
  font-weight: @font-normal;
  color: @color-heading;

  @media (min-width: @tablet-width) {
    margin-bottom: 32px;
    padding-top: 45px;
    .text(60px; 60px);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 34px;
    padding-top: 51px;
  }
}

.advantages__text {
  width: 200px;
  margin: 0;
  font-family: @font-text;
  .text(14px; 18px);

  @media (min-width: @tablet-width) {
    width: 250px;
    .text(16px; 24px);
  }
}

.advantages__item--natural::before {
  background-image: url("../img/icon/icon-leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.advantages__item--composition::before {
  background-image: url("../img/icon/icon-tub.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.advantages__item--eating::before {
  background-image: url("../img/icon/icon-eat.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}

.advantages__item--time::before {
  background-image: url("../img/icon/icon-alarm.svg");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}
