.contacts__wrapper {
  position: relative;
}

.contacts__content {
  display: flex;
  padding: 26px 20px;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    padding: 60px 70px 56px;
    background-color: @color-white;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 405px;
    padding: 60px 80px 56px;
  }
}

.contacts__content--inner {
  background-color: @color-content-background;

  @media (min-width: @desktop-width) {
    background-color: @color-white;
  }
}

.contacts__map {
  text-align: center;
}
