.example {
  background-color: @color-example-background;

  @media (min-width: @tablet-width) {
    background: linear-gradient(@color-white 0, @color-white 57%, @color-example-background 57%, @color-example-background 100%);
  }

  @media (min-width: @desktop-width) {
    background: linear-gradient(@color-white 0, @color-white 26%, @color-example-background 26%, @color-example-background 100%);
  }
}

.example__wrapper {
  padding: 25px 20px 45px;

  @media (min-width: @tablet-width) {
    padding: 43px 30px 60px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    padding: 0 110px 65px;
  }
}

.example__content-wrapper {
  @media (min-width: @desktop-width) {
    width: 610px;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;
  .text(36px; 40px);
  font-weight: @font-normal;
  color: @color-heading;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
    .text(60px; 60px);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 149px;
    padding-top: 21px;
  }
}

.example__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: @font-text;
  .text(14px; 18px);

  @media (min-width: @tablet-width) {
    margin-bottom: 54px;
    padding: 0 10px 0 0;
    .text(16px; 24px);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 66px;
    padding: 0 175px 0 0;
  }
}
