.example__wrapper {
  padding: 25px 20px 40px;
  background-color: @color-content-background;
}

.example__title {
  margin-top: 0;
  margin-bottom: 40px;
  .text(36px; 40px);
  font-weight: @font-normal;
  color: @color-heading;
}

.example__text {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: @font-text;
  .text(14px; 18px);
}
