.logo__image {
  margin-right: 56px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
  }
}

.logo__text {
  padding: 39px 0 32px;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}
