.product-card__link {
  text-decoration: none;
}

.product-card__title {
  .text(16px; 20px);
  color: @color-text-product;
  font-weight: @font-normal;
  text-transform: uppercase;
}

.product-card__button {
  padding: 10px;
}
