.programs-item__title {
  margin: 0;
  .text(24px; 37px);
  font-weight: @font-normal;
  color: @color-heading;
  text-transform: uppercase;
}

.programs-item__text {
  font-family: @font-text;
  .text(14px; 18px);
}

.programs-item__link {
  .text(16px; 16px);
  color: @color-heading;
  text-transform: uppercase;
  text-decoration: none;
}
