.promo {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: @color-promo-background;
    top: 0;
    left: 0;
    width: 100%;
    height: 302px;
    z-index: -1;
  }

  @media (min-width: @tablet-width) {
    &::before {
      display: none;
    }
  }
}

.promo__wrapper {
  padding: 0 20px 20px;
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 302px;
    background-image: url("../img/cat-promo.jpg");
    z-index: -2;
    content: "";
  }

  @media (min-width: @tablet-width) {
    min-height: 842px;
    padding: 0 119px;

    &::after {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 635px;
    padding: 0 190px;
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 28px;
  .text (36px; 36px);
  font-weight: @font-normal;
  text-align: center;
  color: @color-white;

  @media (min-width: @tablet-width) {
    width: 420px;
    margin-bottom: 41px;
    padding-top: 33px;
    .text(60px; 60px);
    color: @color-heading;
    text-align: start;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;
    padding-top: 83px;
    .text(60px; 60px);
  }
}

.promo__text {
  margin-top: 0;
  margin-bottom: 30px;
  .text (14px; 14px);
  color: @color-white;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 52px;
    .text (20px; 20px);
    color: @color-heading;
    text-align: start;
  }
}

.promo__image {
  margin-bottom: 1px;

  @media (min-width: @tablet-width) {
    position: absolute;
    width: 709px;
    height: 609px;
    top: 235px;
    background-color: rgb(243, 141, 52);
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: 450px;
    width: 552px;
    height: 499px;
  }
}

.promo__button {
  display: block;
  .text(14px; 18px);

  @media (min-width: @tablet-width) {
    display: inline-block;
    padding: 15px 26px;
    .text(20px; 20px);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 160px;
  }
}
