.results-list {
  display: flex;
  justify-content: space-between;
}

.results-list__item {
  width: 123px;
  border: 1px solid @color-border-example;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    width: 162px;
    margin-right: 39px;
  }
}

.results-list__total {
  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 14px;
  .text(24px; 24px);
  text-align: center;
  color: @color-heading;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    margin-bottom: 11px;
    .text(30px; 37px);
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 13px;
  }
}

.results-list__text {
  width: 80px;
  margin: 0 auto;
  font-family: @font-text;
  .text(12px; 12px);
  text-align: center;
  color: @color-text;
  display: block;
  margin-bottom: -16px;
  background: @color-example-background;

  @media (min-width: @tablet-width) {
    width: max-content;
    margin-bottom: -8px;
    padding: 0 10px;
    .text(14px; 14px);
    background: @color-white;
  }

  @media (min-width: @desktop-width) {
    background: @color-example-background;
  }
}
