.show-all {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: @color-white;

  @media (min-width: @tablet-width) {
    flex-direction: unset;
    padding-top: 78px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 80px;
  }
}

.show-all__wrapper {
  @media (max-width: @mobile-width-only) {
    padding: 0 20px;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 36px 0;
    border: 2px solid @color-content-background;
  }
}

.show-all__text {
  position: relative;
  margin-top: 0;
  margin-bottom: 8px;
  padding-top: 78px;
  .text(16px; 20px);
  color: @color-text-show-more;
  text-transform: uppercase;

  &::before {
    position: absolute;
    width: 30px;
    height: 2px;
    top: 37px;
    left: 125px;
    background-color: @color-show-more;
    content: "";
  }

  &::after {
    position: absolute;
    width: 30px;
    height: 2px;
    top: 37px;
    left: 125px;
    background-color: @color-show-more;
    transform: rotate(90deg);
    content: "";
  }

  @media (min-width: @tablet-width) {
    padding: 112px 40px 0;
    margin-bottom: 23px;
    .text(20px; 22px);

    &::before {
      width: 60px;
      left: 96px;
      top: 32px;
    }

    &::after {
      width: 60px;
      left: 96px;
      top: 32px;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 112px 10px 0;

    &::before {
      top: 33px;
      left: 55px;
    }

    &::after {
      left: 56px;
      top: 33px;
    }
  }
}

.show-all__description {
  margin-top: 0;
  margin-bottom: 21px;
  font-family: @font-text;
  .text(12px; 16px);

  @media (min-width: @tablet-width) {
    padding: 0 24px;
    margin-bottom: 87px;
    .text(16px; 18px);
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.show-all__button {
  display: block;
  margin-bottom: 24px;
  padding: 10px;
  color: @color-text;
  background-color: @color-content-background;

  &:hover {
    background-color: @color-border-catalog;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 35px;
  }
}
