.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
  width: 120px;
  margin: 0 auto;
}

.social__item {
  min-width: 23px;
  min-height: 22px;
}
